.sidebar {
  width: 15vw;
  height: 100vh;
  background: red;
  padding-left: 20px;
  padding-top: 30px;
  .menu-link {
    font-size: 20px;
  }
  .menu-item + .menu-item {
    margin-top: 10px;
  }
  .friends {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &__title {
      font-size: 25px;
    }
    &__block {
      margin-top: 20px;
      display: flex;
    }
    &__user {
      text-align: center;
    }
    .friends__user + .friends__user {
      margin-left: 10px;
    }
    &__photo {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
